/*ОБЩИЕ********************************************************/



.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background-color: rgb(243, 238, 227);



  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


html,
body {
  overflow-x: hidden;
}



main {
  flex: 1;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #4a90e2;
  text-decoration: none;
  transition: all .3s ease;
}

a:not(.btn):hover {
  color: #4872a2;
}

p+a:not(.btn) {
  font-size: 13px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 300;
  color: rgb(216, 139, 25);
  font-family: 'Pattaya', sans-serif;

}

img {
  max-width: 100%;
}

/* .section-padding h2 {
  padding-top: 20px;
} */

h2 {
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  padding-top: 20px;
}

h3 {
  text-align: center;
  margin-top: 20px;
}


/* HEADER ******************************************************/



.navbar {
  display: flex;
  /* position: absolute; */
  /* margin-bottom: 20px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 66px;
  align-items: center;
  position: fixed;
  z-index: 2;
  height: 80px;
  background-color: #026873;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(90deg, #192129, #303641, #484e57);
  background-size: 8px 8px,
    100%;

}

.navbar>.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}

.logo:hover {
  transform: scale(1.1);
}

.logo img {
  max-width: 160px;

}

.main-menu {
  margin-left: auto;
  padding-right: 20px;
}

.main-menu ul {
  display: flex;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}

.main-menu li {
  padding-left: 15px;
  padding-right: 15px;
}

.main-menu li a {
  color: rgb(216, 139, 25);
  text-transform: uppercase;
  font-size: 14px;
  opacity: 60%;
  letter-spacing: 0.5px;
  transition: opacity 0.3s ease;

}

.main-menu li a:hover {
  color: white;
  opacity: 1;

}



/* BANER ********************************************************/

/* section {
  padding: 25 0;
  box-shadow: 0 0 10 rgb(202, 22, 22);
} */

.baner {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 70vh;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-size: cover;
  background-position: center;
  /* width: 500px; */

}

.hero:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #252525;
  opacity: 50%;
}

.baner .container {
  position: relative;
  max-width: 800px;
}

.baner h1 {
  margin: bottom 24px;
  color: rgb(216, 139, 25);
}

.baner p {
  margin-bottom: 35px;
  font-weight: 300;
  opacity: 80%;
  color: rgb(3, 3, 3);
  font-size: 16px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 6px;
  padding: 5px 35px;
  transition: 0.1s linear;
}

.btn-styles {
  background-color: #4a90e2;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-styles:hover {
  background-color: #609de6;
  transform: translate3d(0, -2px, 0);
}


/* SERVICES *****************************************************/

.section-padding {
  background-color: #026873;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(90deg, #192129, #303641, #484e57);
  background-size: 8px 8px,
    100%;
}




.services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 30px;


}

.service-col {
  max-width: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;

}

.service {
  padding: 25px;
  border: 1px solid #ececec;
  border-radius: 6px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  margin-bottom: 30px;
}

.services img {
  opacity: 60%;
  max-width: 70px;
  margin-bottom: 24px;
}

.service h4 {
  font-weight: 400;
  margin-bottom: 12px;
}

.service p {
  max-width: 280px;
  margin: 0 auto 30px auto;
  font-size: 13px;
  line-height: 1.7;
}


/* ADVATTEGE */

.section-advantage {
  background-color: #026873;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(90deg, #192129, #303641, #484e57);
  background-size: 8px 8px, 100%;

}


.section-advantage p {
  color: #000000;
}

.advantage {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;

}

.advantage-col {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border: 1px solid #ececec;
  border-radius: 6px;
}

.advantage img:hover {
  transform: scale(1.2)
}


/* INFORMATION */

.section-information {
  background-color: rgb(216, 139, 25);
}

.information {
  padding-top: 20px;
}

.section-information p {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.section-information img {
  padding-top: 20px;
  margin: auto;
  width: 100%;
}










/* MEDYA ***************************************************/

@media (max-width: 768px) {
  .logo {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;

  }

  .logo img {
    max-width: 130px;
  }


  .main-menu {
    margin: auto;
    margin-bottom: 25px;
  }

  .main-menu li {
    padding: 0 7px;
  }

  .main-menu li a {
    font-size: 10px;
  }

  h1 {
    margin-top: 30px;
    font-size: 25px;
  }

  .btn {
    width: 25px;
    height: 20px;
    font-size: 8px;
  }

  .section-padding h2 {
    font-size: 20px;
  }

  .baner p {
    font-size: 10px;
  }
}

.title {
  font-size: 10px;
  color: #808080;
  font-weight: 300;
}


.advantage-col {
  width: 100%;
}

.advantage img {
  width: 50px;
}

.advantage p {
  font-size: 10px;
}



@media (min-width: 768px) and (max-width:992px) {

  .service-col {
    max-width: calc(100% / 3);
    width: 100%;
    margin-bottom: 0;
  }

  .main-menu li a {
    font-size: 12px;
  }

  h1 {
    margin-top: 50px;
    font-size: 34px;
  }

  .baner p {
    font-size: 14px;
  }

  .advantage {

    /* padding-top: 30px; */
    padding-bottom: 70px;
  }

  .advantage-col {
    width: 33.3%;
  }

  .advantage img {
    width: 100px;
  }

  .advantage p {
    font-size: 14px;
  }
}

@media (min-width:992px) {




  h1 {
    font-size: 44px;
    margin-top: 50px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  .advantage {

    /* padding-top: 30px; */
    padding-bottom: 70px;
  }

  .service-col {
    max-width: calc(100% / 3);
    width: 100%;
    margin-bottom: 0;
  }

  .advantage-col {
    width: 33.3%;
  }

  .advantage img {
    width: 100px;
  }

  .advantage p {
    font-size: 14px;
  }

}

/* .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 6px;
  padding: 5px 35px;
  transition: 0.1s linear;
}

.btn-styles {
  background-color: #4a90e2;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-styles:hover {
  background-color: #609de6;
  transform: translate3d(0, -2px, 0);
} */












/* FOOTER *******************************************************/
footer {
  background-color: #a19994;
}


.footer-row {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copiright {
  opacity: 60%;
  color: #eb510a;
}

.footer-social {
  display: flex;
  list-style: none;
  align-items: center;
}

span {
  color: #eb510a;
}

.footer-social li {
  padding-left: 8px;
  padding-right: 8px;
}

.footer-social a {
  opacity: 60%;
}

.footer-social a:hover {
  opacity: 1;
}

.footer-social img {
  max-width: 18px;
}